<div class="pf1 chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
  <header class="card-header flexrow">
    {{#if name}}<h3 class="item-name">{{name}}</h3>{{/if}}
  </header>

  <div class="card-content">
    {{{item.data.description.value}}}
  </div>

  {{#each attacks as |atk|}}
  <div class="chat-attack">
    <div class="flexrow">
      {{#if atk.hasAttack}}
      <div class="dice-roll attack-roll">
        {{#if atk.attack.flavor}}
        <div class="dice-flavor">{{atk.attack.flavor}}</div>
        {{/if}}
        <div class="dice-result">
          <h4 class="dice-total{{#if atk.attack.isCrit}} success{{/if}}{{#if atk.attack.isFumble}} failure{{/if}}">{{atk.attack.total}}</h4>
          {{{atk.attack.tooltip}}}
        </div>
      </div>
      {{#if atk.hasCritConfirm}}
      <div class="dice-roll crit-confirm-roll">
        {{#if atk.critConfirm.flavor}}
        <div class="dice-flavor">{{atk.critConfirm.flavor}}</div>
        {{/if}}
        <div class="dice-result">
          <h4 class="dice-total{{#if atk.critConfirm.isCrit}} success{{/if}}{{#if atk.cfirConfirm.isFumble}} failure{{/if}}">{{atk.critConfirm.total}}</h4>
          {{{atk.critConfirm.tooltip}}}
        </div>
      </div>
      {{/if}}{{/if}}
    </div>

    {{#if atk.hasAttack}}{{#if atk.hasDamage}}
    <hr>
    {{/if}}{{/if}}

    <div class="flexrow">
      {{#if atk.hasDamage}}
      <div class="dice-roll damage-roll">
        {{#if atk.damage.flavor}}
        <div class="dice-flavor">{{atk.damage.flavor}}</div>
        {{/if}}
        <div class="dice-result">
          <h4 class="dice-total">{{atk.damage.total}}</h4>
          {{{atk.damage.tooltip}}}
        </div>
      </div>
      {{#if atk.hasCritConfirm}}
      <div class="dice-roll crit-damage-roll">
        {{#if atk.critDamage.flavor}}
        <div class="dice-flavor">{{atk.critDamage.flavor}}</div>
        {{/if}}
        <div class="dice-result">
          <h4 class="dice-total">{{atk.critDamage.total}}</h4>
          {{{atk.critDamage.tooltip}}}
        </div>
      </div>
      {{/if}}{{/if}}
    </div>

    {{#if atk.cards.length}}
    <hr>

    <div class="flexcol card-buttons">
      {{#each atk.cards as |card|}}
      <button data-action="{{card.action}}" data-value="{{card.value}}">{{card.label}}</button>
      {{/each}}
      {{#if ../save.hasSave}}
      <button data-action="save" data-dc="{{../save.dc}}" data-type="{{../save.type}}">{{../save.label}}</button>
      {{/if}}
    </div>
    {{/if}}

    {{{atk.effectNotesHTML}}}
  </div>
  {{/each}}

  {{#if hasExtraText}}
  <div class="extra-text gm-sensitive">{{{extraText}}}</div>
  {{/if}}

  {{#if spellFailure}}
  <div class="spell-failure">
    <h3>{{localize "PF1.ArcaneSpellFailure"}}</h3>
    <div class="dice-roll">
      <div class="dice-result">
        <h4 class="dice-total spell-failure {{#unless spellFailureSuccess}}failure{{/unless}}">{{spellFailure}}</h4>
      </div>
    </div>
  </div>
  {{/if}}

  {{#if hasProperties}}
  {{#each properties as |prop|}}
  <div class="flexcol property-group gm-sensitive">
    <label>{{prop.header}}</label>
    <div class="flexrow">
      {{#each prop.value as |v|}}
      <span class="tag">{{v}}</span>
      {{/each}}
    </div>
  </div>
  {{/each}}
  {{/if}}
</div>
